.product-details
{
    text-align: center;
    gap: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #59cf59;
}

.details-header
{
    text-transform: capitalize;
    font-size: 56px;
}

.details-body
{
    color: bisque;
    font-size: 21px;
}

.searchbar-and-details
{
    margin-top: calc(-1 * var(--header-height));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}