body
{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

div
{
    box-sizing: border-box;
}

.custom-button
{
    cursor: pointer;
    height: 100%;
    width: 11vw;
    padding: 1vh;
    /* border-radius: 2vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #59cf59;
    font-size: 20px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.custom-button:hover
{
    background-color: #4aad4a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-button:active
{
    background-color: #3d8c3d;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.job-search-bar
{
    width: 60%;
    height: 5vh;
    display: flex;
    justify-content: center;
    gap: 1vw;
    align-items: center;
}

.search-bar
{
    box-sizing: border-box;
    height: 5vh;
    font-size: 20px;
    width: 70%;
    padding: 1vh;
}

.job-search-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: fit-content;
    max-height: 90vh;
    padding: 3vh;
}

.bounce
{
    transition: 0.2s;
}

.bounce:hover
{
    margin-bottom: 1vh;
}

:root
{
    --header-height: 10vh;
}

.body
{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    background-color: #4b4b4b;
    align-items: center;
    justify-content: center;
    background-color: #2f2e2e;
}

.header
{
    width: 100vw;
    background-color: black;
    height: var(--header-height);
}

.job-filtering
{}

.scrollbar
{
    width: 100%;
    height: auto;
    flex-direction: column;
    overflow-y: scroll;
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar
{
    width: .5vh;
    border-radius: .5vh;
    border-right: 1px solid #59cf59;
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: .5vh;
    background-color: #59cf59;

    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}